.container {
  height: calc(100vh - 5rem);
  display: flex;
}

.container > * {
  min-width: 50%;
}

.background {
  background-image: url("../../assets/bg.jpg");
  mix-blend-mode: luminosity;
  position: absolute;
  opacity: 0.06;
  max-width: 100%;
  height: 95vh;
  background-size: cover;
}

.content {
  order: 2;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

.content h2,
.description {
  max-width: 30rem;
}

.description {
  margin: 2rem 0;
}
