.section {
  background: var(--cor-1);
  background-image: url("../assets/bg.png");
  background-size: cover;
  display: flex;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.slider {
  height: 460px;
}
.content {
  order: 2;
}

.content p {
  max-width: 450px;
}

.content > span {
  color: var(--cor-5);
}

.link {
  background: var(--cor-5);
  color: var(--cor-1);
  margin-top: 2rem;
}
.itemAnimal {
  padding: 1rem;
  border-radius: 0.7rem;
  background: var(--cor-4);
  color: var(--cor-2);
}

.itemAnimal img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.itemAnimal h3 {
  font-size: 13px;
  margin-bottom: 1rem;
  font-weight: 800;
  text-transform: capitalize;
}
.itemAnimal p {
  color: var(--cor-7);
}
@media (max-width: 1200px) {
  .animalsList {
    grid-template-rows: repeat(3, 150px);
  }
}

@media (max-width: 930px) {
  .section {
    flex-direction: column;
  }
  .content {
    order: -1;
  }
  .animalsList::-webkit-scrollbar {
    display: none;
  }
}
