.section {
  background: var(--cor-1);
  padding: 3rem 6rem;
  display: flex;
  background-image: url("../assets/bg.png");
  background-size: cover;
}

.section h2 {
  font-size: 2rem;
  width: 50%;
}

.form {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  width: 50%;
}

.form label {
  visibility: hidden;
  position: absolute;
}

.form .email {
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.2rem;
  background: var(--cor-2);
  outline: none;
  border: none;
}

.form .btn {
  width: 40%;
  margin-left: 1rem;
}

@media (max-width: 1200px) {
  .section {
    padding: 3rem;
  }
}

@media (max-width: 930px) {
  .section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .form {
    padding-left: 0;
    width: 100%;
    margin-top: 2rem;
  }
  .section h2 {
    font-size: 1.5rem;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .form {
    flex-direction: column;
  }
  .form .btn {
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }
}
