.entrada {
  height: 100vh;
  color: var(--cor-2);
  background: url("../assets/img-entrada-2.jpg");
  background-size: cover;
  box-shadow: inset 0px 0px 250px 70px #090b09;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.entrada > img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
}

.header a {
  margin-left: 2rem;
}

.logo {
  margin-right: auto;
}
.entradaContainer {
  padding: 3.5rem 3rem;
  display: flex;
  flex: 1;
}
.titleAndTexts {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.titleAndTexts a {
  align-self: flex-start;
}

.titleAndTexts h1 {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 2rem;
  align-self: flex-end;
  font-weight: 800;
  margin-top: auto;
}

.description {
  max-width: 300px;
  opacity: 0.7;
  line-height: 1.3rem;
}

.aside {
  flex: 2;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside ul span {
  font-size: 2.2rem;
  line-height: 2rem;
  font-weight: 800;
}

.aside li + li {
  margin-top: 3rem;
}

.aside address {
  font-style: normal;
}
