.entrada {
  height: 100vh;
  color: var(--cor-2);
  display: flex;
  box-shadow: inset 0px 0px 250px 50px #090b09;
}

.entrada > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.content {
  max-width: 38vw;
  padding: 0 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
}

.titleAndTexts {
  display: flex;
  flex-direction: column;
}

.titleAndTexts button {
  align-self: flex-start;
}

.titleAndTexts h1 {
  font-size: 5.5rem;
  line-height: 6rem;
  align-self: flex-end;
  width: max-content;
  width: -webkit-max-content;
}

.description {
  margin: 1rem 0 2rem 0;
}

.valuesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  position: relative;
}

.valuesList::after {
  content: "";
  display: block;
  background: var(--cor-1);
  position: absolute;
  width: 100%;
  height: 3rem;
  bottom: 0;
}

.valuesList li + li {
  margin-top: 2rem;
}

.valuesList li {
  width: 100%;
  padding: 1.5rem;
}

.valuesList span {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 800;
  display: block;
}
