.imgContainer img {
  width: 90%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
  margin-left: auto;
}

.imgContainer {
  width: 50%;
}
.section {
  background-color: var(--cor-4);
  color: var(--cor-2);
  display: flex;
}

.questionList {
  margin-bottom: 2rem;
  max-width: 450px;
}
.questionList li + li {
  margin-top: 1rem;
}
.questionList button {
  text-align: left;
  transition: 0.1s;
  font-weight: 500;
}
.questionList button:hover::before,
.questionList button.visible::before {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.questionList button::before {
  content: "";
  display: inline-block;
  background: currentColor;
  width: 0;
  height: 3px;
  position: relative;
  top: -3px;
  transition: 0.2s;
}
.answer {
  color: var(--cor-7);
  transition: 0.2s;
  max-height: 0;
  overflow: hidden;
}

.answer.visible {
  max-height: 100px;
  height: 100%;
}

@media (max-width: 930px) {
  .section {
    flex-direction: column;
  }
  .imgContainer {
    align-self: flex-end;
  }
  .questionList {
    text-align: left;
  }
}
