.header {
  position: fixed;
  width: 10rem;
  transition: 0.4s;
  z-index: 9;
  background-color: var(--cor-6);
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top: 10px solid var(--cor-1);
}

.nav {
  color: var(--cor-2);
  margin: auto;
}

.nav li span {
  text-transform: capitalize;
}

.nav li + li {
  margin-top: 1.5rem;
}
.nav li a {
  transition: 0.2s;
}
.nav li a:hover {
  color: var(--cor-1);
}

.nav li p {
  font-size: 0.7rem;
  opacity: 0.5;
  text-transform: uppercase;
}
.menuBtn {
  margin-left: 2rem;
  height: 2rem;
  width: 2rem;
}

.menuBtn > div {
  width: 1.7rem;
  height: 3px;
  background: var(--cor-2);
  transition: 0.3s;
}

.menuBtn > div::before,
.menuBtn > div::after {
  content: "";
  display: block;
  position: relative;
  height: inherit;
  width: 100%;
  background: inherit;
}

.menuBtn > div::before {
  top: -0.5rem;
}

.menuBtn > div::after {
  bottom: calc(-0.5rem + 3px);
}

.menuBtn.visible > div {
  transform: rotate(-45deg);
}

.menuBtn.visible > div::after {
  display: none;
}
.menuBtn.visible > div::before {
  transform: rotate(90deg);
  top: 0;
}
