.header {
  position: fixed;
  width: 100%;
  height: 7rem;
  transition: 0.2s;
  z-index: 9;
  height: 7rem;
}
.btnDonation {
  background: transparent;
  box-shadow: inset 0 0 0 1px var(--cor-1);
  color: var(--cor-1);
  margin-right: 2rem;
}

.btnDonation:hover {
  color: var(--cor-5);
}
.headerScrolled {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.headerContainer {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.menuBtn {
  margin-left: 2rem;
  height: 2rem;
  width: 2rem;
}

.menuBtn > div {
  width: 1.7rem;
  height: 3px;
  background: var(--cor-2);
  transition: 0.3s;
}

.menuBtn > div::before,
.menuBtn > div::after {
  content: "";
  display: block;
  position: relative;
  height: inherit;
  width: 100%;
  background: inherit;
}

.menuBtn > div::before {
  top: -0.5rem;
}

.menuBtn > div::after {
  bottom: calc(-0.5rem + 3px);
}

.menuBtn.visible > div {
  transform: rotate(-45deg);
}

.menuBtn.visible > div::after {
  display: none;
}
.menuBtn.visible > div::before {
  transform: rotate(90deg);
  top: 0;
}
.logo {
  color: var(--cor-2);
  font-weight: 800;
  text-align: center;
  margin-right: auto;
  padding: 1rem;
}

.logo img {
  width: 3rem;
}
