.header {
  position: fixed;
  width: 10rem;
  transition: 0.4s;
  z-index: 9;
  background-color: var(--cor-6);
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top: 10px solid var(--cor-1);
}

.nav {
  color: var(--cor-2);
  margin: auto;
}

.nav li span {
  text-transform: capitalize;
}

.nav li + li {
  margin-top: 1.5rem;
}
.nav li p {
  font-size: 0.7rem;
  color: var(--cor-7);
  text-transform: uppercase;
  transition: 0.2s;
}
.nav li a {
  transition: 0.2s;
}
.nav li a:hover {
  color: var(--cor-1);
}

.nav li a:hover p {
  color: #2c7d20;
}

@media (max-width: 1100px) {
  .menuBtn {
    margin-left: 2rem;
    height: 1.6rem;
    width: 1.6rem;
    text-align: center;
  }

  .menuBtn > div {
    width: 100%;
    height: 3px;
    background: var(--cor-2);
    transition: 0.3s;
  }

  .menuBtn > div::before,
  .menuBtn > div::after {
    content: "";
    display: block;
    position: relative;
    height: inherit;
    width: 100%;
    background: inherit;
  }

  .menuBtn > div::before {
    top: -0.5rem;
  }

  .menuBtn > div::after {
    bottom: calc(-0.5rem + 3px);
  }

  .menuBtn.visible > div {
    transform: rotate(-45deg);
  }

  .menuBtn.visible > div::after {
    display: none;
  }
  .menuBtn.visible > div::before {
    transform: rotate(90deg);
    top: 0;
  }
  .header {
    width: 100%;
    height: 4rem;
    border-top: none;
    flex-direction: row;
  }
  .nav {
    position: absolute;
    top: 4rem;
    left: -10px;
    z-index: 9;
    background: var(--cor-5);
    width: calc(100% + 10px);
    padding: 3rem;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
  }

  .nav.visible {
    color: var(--cor-2);
    visibility: visible;
    opacity: 1;
  }
  .header > a {
    margin-right: auto;
  }
}
