.nav {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  color: var(--cor-2);
  padding: 1rem 2rem;
  position: absolute;
  left: 2rem;
  top: 5.5rem;
  border-radius: 0.2rem;
  transition: 0.2s;
  opacity: 0;
  transform: scale(0.9);
  visibility: hidden;
}

.nav li {
  padding: 0.5rem 0;
  list-style: none;
}

.nav li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.07);
}

.nav a {
  width: 100%;
  transition: 0.2s;
}

.nav a:hover {
  transform: translateX(0.5rem);
  color: var(--cor-1);
}

.nav.visible {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}
