@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

:root {
  --cor-1: #fdf64f;
  --cor-2: #eef1c5;
  --cor-3: #9c0c0c;
  --cor-4: #2f6815;
  --cor-5: #1e1f2d;
  --cor-6: #514e12;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 400;
  color: var(--cor-5);
}

a {
  text-decoration: none;
}

input,
a,
button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.btn-amarelo {
  background: var(--cor-1);
  padding: 0.7rem 1rem;
  border-radius: 0.2rem;
  color: var(--cor-6);
  transition: 0.1s;
}
.btn-amarelo:hover {
  background: #fffa74;
  transform: scale(1.05);
}
img {
  display: block;
}
