@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

:root {
  --cor-1: #ebe542;
  --cor-2: #eef1c5;
  --cor-3: #1c5705;
  --cor-4: #a23918;
  --cor-5: rgb(29, 31, 50);
  --cor-6: #514e12;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 400;
  color: var(--cor-5);
}

h2 {
  font-size: 4rem;
  line-height: 4.5rem;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
input,
a,
button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.btn-amarelo {
  background: var(--cor-1);
  padding: 0.6rem 1rem;
  border-radius: 0.8rem;
  color: var(--cor-6);
  transition: 0.1s;
}
.btn-amarelo:hover {
  background: #fffa68;
}
img {
  display: block;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: var(--cor-5);
}

::-webkit-scrollbar-thumb {
  background: var(--cor-1);
  border: 3px solid var(--cor-5);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cor-6);
}
